<?xml version="1.0"?>
<!-- 
/**
 * Copyright © 2017 Chad A. Carino. All rights reserved.
 * See LICENSE file for license details.
 *
 * @package    Bangerkuwranger/GtidSafeUrlRewriteFallback
 * @author     Chad A. Carino <artist@chadacarino.com>
 * @author     Burak Bingollu <burak.bingollu@gmail.com>
 * @copyright  2017 Chad A. Carino
 * @license    https://opensource.org/licenses/MIT  MIT License
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Bangerkuwranger\GtidSafeUrlRewriteFallback\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Bangerkuwranger\GtidSafeUrlRewriteFallback\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">GTIDSafeRewritesLogger</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Bangerkuwranger\GtidSafeUrlRewriteFallback\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\CategoryUrlRewriteGenerator">
    	<arguments>
    		<argument name="currentUrlRewritesRegenerator" xsi:type="object">Bangerkuwranger\GtidSafeUrlRewriteFallback\Model\Rewrite\CatalogUrlRewrite\Category\CurrentUrlRewritesRegenerator</argument>
    	</arguments>
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\ProductUrlRewriteGenerator">
    	<arguments>
    		<argument name="currentUrlRewritesRegenerator" xsi:type="object">Bangerkuwranger\GtidSafeUrlRewriteFallback\Model\Rewrite\CatalogUrlRewrite\Product\CurrentUrlRewritesRegenerator</argument>
    	</arguments>
    </type>
    <type name="Magento\CatalogUrlRewrite\Model\ProductScopeRewriteGenerator">
    	<arguments>
    		<argument name="currentUrlRewritesRegenerator" xsi:type="object">Bangerkuwranger\GtidSafeUrlRewriteFallback\Model\Rewrite\CatalogUrlRewrite\Product\CurrentUrlRewritesRegenerator</argument>
    	</arguments>
    </type>
</config>